{% extends 'books/base.html' %}
{% block content %}
<div>
    <h1>About </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed convallis nibh, at ultrices sem. 
        Etiam non justo eget dui faucibus interdum at vitae lacus. Nulla efficitur condimentum nunc, 
        non placerat ipsum aliquet non. Aliquam vel convallis ipsum, ac malesuada est. Nunc fermentum nunc 
        ut massa interdum, et tristique lectus blandit. Maecenas pretium, dolor at tincidunt convallis, 
        arcu ipsum tempus augue, eu laoreet ipsum dolor et justo. Nullam et augue congue, volutpat nisi a, 
        efficitur diam. Aenean pretium purus eget est rhoncus, at pulvinar sem consectetur. 
        Mauris vehicula mauris ut hendrerit tincidunt. Sed purus tellus, finibus eu vehicula vitae, 
        viverra nec massa. Nulla massa nisl, accumsan et massa quis, hendrerit tempus urna.
    </p>
    <p>Sed iaculis lacus nunc, vitae iaculis magna egestas sit amet. Ut volutpat hendrerit felis, sed auctor 
        erat suscipit in. Cras id condimentum odio. Pellentesque ullamcorper, leo nec tristique auctor, 
        urna justo interdum urna, et pretium nulla massa eu urna. Nullam iaculis purus dolor, nec varius 
        turpis consectetur vel. Donec posuere, erat eget maximus gravida, nisi odio gravida nisi, ut 
        elementum odio nibh a libero. Vestibulum tempus ultrices sapien, sed viverra leo vestibulum nec. 
        Morbi tristique, urna sit amet interdum mattis, erat justo aliquet mauris, at suscipit nulla leo 
        sit amet nibh. Nunc mollis sapien ut diam vestibulum, eget malesuada odio condimentum. Integer 
        imperdiet tristique purus sodales condimentum. Morbi in euismod purus, et lobortis velit. Duis 
        sollicitudin diam erat, sed facilisis sapien dignissim sit amet. Aliquam tristique ut tortor vel 
        ultricies.
    </p>
    <p>Donec eu lacinia dolor, sed consequat elit. Vivamus viverra ligula ligula, iaculis efficitur mauris 
        tempus feugiat. Proin facilisis magna commodo maximus sodales. Curabitur in velit ac orci porta 
        auctor. Cras dui massa, maximus eu ex sed, feugiat scelerisque metus. Fusce vel congue nibh. 
        Suspendisse vel imperdiet tellus. Morbi pellentesque sed nisi sit amet sagittis. Nulla porttitor 
        nisl ante, at ullamcorper ligula posuere eget. Fusce imperdiet, metus vitae lobortis tincidunt, 
        nulla dui malesuada nulla, eget venenatis justo nulla at orci. Donec interdum sapien id velit 
        volutpat vestibulum. Suspendisse venenatis quam nec condimentum rhoncus. Interdum et malesuada 
        fames ac ante ipsum primis in faucibus.
    </p>   
    <p>Donec aliquam blandit commodo. Mauris mollis vulputate leo sed cursus. Aenean finibus sagittis 
        elit, ac viverra est sodales vitae. Etiam nibh risus, efficitur et augue sed, congue semper purus. 
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        Proin nec elementum mi. Ut suscipit leo congue sem fermentum porttitor. Nunc ipsum tortor, fringilla 
        sed auctor eu, fermentum a ipsum.
    </p>
    <p>Curabitur faucibus, ex ut aliquam sodales, risus arcu vehicula tortor, non consequat quam lectus vel 
        ante. Nulla aliquet aliquet auctor. Nullam finibus, elit sit amet feugiat volutpat, libero felis 
        placerat leo, in laoreet lectus leo in lacus. Sed lectus nunc, vulputate ut ex et, laoreet bibendum 
        enim. Donec ut feugiat ex. Aliquam sodales velit at risus tincidunt, at aliquet nisi accumsan. 
        Vestibulum lacus enim, finibus ut tincidunt quis, vulputate in nunc. Sed cursus libero et sem 
        pretium, id varius ex facilisis. Donec tincidunt, neque quis commodo vulputate, erat nulla dapibus 
        dui, non aliquet ex neque eu augue. Maecenas nibh velit, elementum sit amet tempus eget, aliquam 
        nec nisi. Phasellus in dignissim mauris. Duis lobortis tortor nec faucibus scelerisque. Vestibulum 
        pulvinar tortor sed lacus bibendum, eu lacinia ante volutpat. Pellentesque gravida diam sed maximus 
        imperdiet. Donec in dignissim augue, vitae vulputate orci.
    </p>
</div>
{% endblock content %}