{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 
      name="viewport" 
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta 
      http-equiv="X-UA-Compatible" 
      content="ie=edge"
    >
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Digital Library</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Digital Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search-books' %}">
        {% csrf_token %}
          <input class="form-control mr-sm-2" style="width: 500px;" type="search" placeholder="Search Books.." aria-label="Search" name="searched">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="profile_btn">Signed in as {{ user.first_name }}</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-danger">
              <a class="nav-link" href="{% url 'logout' %}" style="padding: 0px;">Logout</a>
            </button>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- main -->
  <div class="container">
    <div style="margin-top: 10px;">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
  </div>
  <!-- end main -->
  <!-- footer -->
  <div class="footer-div">
    <div class="text-center">
      <span>Copyright © | Developed by <a href="https://www.linkedin.com/in/darshil-mehta-11b761208/" target="_blank">Darshil</a> and <a href="https://www.linkedin.com/in/kush-vora-7b23441a7/" target="_blank">Kush</a></span>
    </div>
  </div>
  <!-- end footer -->
</body>
</html>